<app-header [isModal]="true" title="Términos y Condiciones"></app-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Introducción</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a posuere purus. In tempus dignissim leo, eget dictum metus sagittis fringilla. Vivamus id tellus est. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Aliquam eu diam vitae nulla sodales volutpat quis a leo. Proin convallis sagittis arcu vitae eleifend. Etiam at lorem pellentesque, cursus nunc sit amet, consequat sem. Vestibulum arcu justo, tincidunt eu porta cursus, fermentum et ipsum. Cras lacinia consequat hendrerit. Nullam a massa pulvinar, sodales orci laoreet, viverra nisl.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Sección 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Maecenas sit amet risus quam. Pellentesque maximus tempor mollis. Duis ac viverra lacus. Ut vitae nunc nec libero convallis lobortis quis id dolor. Integer fringilla volutpat ipsum, vel feugiat nisl ultricies sit amet. Sed sed dui interdum, viverra mauris vitae, venenatis ex. Nam pretium facilisis tempor. Curabitur faucibus volutpat molestie.
    </ion-card-content>
  </ion-card>
  
  <ion-card>
    <ion-card-header>
      <ion-card-title>Sección 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sed dui elit, dictum nec venenatis eu, ultricies sollicitudin justo. Suspendisse placerat ut ipsum quis bibendum. Vestibulum pretium dui vel ipsum accumsan auctor. Proin molestie justo varius diam mattis, at pellentesque ex hendrerit. Duis non tempor orci. Aenean eu lobortis dolor. Fusce laoreet dolor vel augue pellentesque, ac consequat odio blandit. Phasellus consequat risus at augue consectetur mollis. Mauris quis posuere dolor. Aliquam venenatis erat id orci ultricies, in faucibus risus porta. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Maecenas diam lacus, iaculis vel diam id, consectetur vulputate enim. Sed commodo nulla mi.
    </ion-card-content>
  </ion-card>
</ion-content>
